<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<title>Semantic Elements</title>
	<meta name="description" content="A collection of semantic HTML elements with examples and minimal documentation">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v=ng9vWYeEJd">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v=ng9vWYeEJd">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v=ng9vWYeEJd">
	<link rel="manifest" href="site.webmanifest?v=ng9vWYeEJd">
	<link rel="mask-icon" href="safari-pinned-tab.svg?v=ng9vWYeEJd" color="#5bbad5">
	<link rel="shortcut icon" href="favicon.ico?v=ng9vWYeEJd">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="reboot.css">
	<style>
		.doc-section {
			margin-bottom: 5rem;
		}

		.doc-section > h3 {
			/* Sorry, but I just really like some of the color names */
			background: darkslategrey;
			color: white;
			font: 100 3rem / 1 monospace;
			padding: 3rem 0 1rem;
		}

		.doc-description {
			max-width: 90ch;
		}

		.doc-description > blockquote > cite {
			display: block;
			padding: 0.125rem 1rem;
		}

		.doc-description > blockquote > cite::before {
			content: "-- ";
		}

		.doc-example-section {

		}

		.doc-example {
			border: 1px solid darkslategrey;
			border-left-width: 5px;
			padding: 1rem;
		}

		.doc-code {
			background: #eee;
			border: 0 solid darkslategrey;
			border-left-width: 5px;
			font-size: 0.875rem;
			overflow: auto;
			padding: 1rem;
			white-space: pre-wrap;
		}

		.doc-table-of-contents {
			-webkit-column-fill: balance;
			column-fill: balance;
			-webkit-column-gap: 2ch;
			column-gap: 2ch;
			-webkit-columns: 15ch;
			columns: 15ch;
			list-style: none;
			padding: 0;
		}

		.doc-table-of-contents > * {
			-webkit-column-break-inside: avoid;
			break-inside: avoid;
			page-break-inside: avoid;
		}

		.doc-to-top {
			background: white;
			bottom: 10px;
			display: block;
			font-size: 2rem;
			line-height: 1;
			position: fixed;
			right: 10px;
			text-decoration: none;
		}

		.l-contain {
			margin: auto;
			max-width: 1000px;
			padding: 0 1rem;
		}
	</style>
</head>

<body>
	<div class="l-contain">
		<h1>HTML(5) Elements</h1>

		<p>This page has brief descriptions and examples of <abbr title="HyperText Markup Language">HTML</abbr> elements. It is itended to be used as a basis for testing base <abbr title="Cascading Style Sheets">CSS</abbr> styles.</p>
	</div>

	<main>
		<nav class="l-contain">
			<h2 id="table-of-contents">Table of Contents</h2>

			<ul class="doc-table-of-contents">
			{{#elements}}
				<li><a href="#{{ id }}">{{{ headline }}}</a></li>
			{{/elements}}
			</ul>

			<h2>The Elements</h2>
		</nav>

		{{#elements}}
			<section class="doc-section">
				<h3 id="{{ id }}"><div class="l-contain">{{{ headline }}}</div></h3>
				<div class="l-contain">
				<div class="doc-description">{{{ description }}}</div>
				<h4>Example</h4>
				<section class="doc-example-section">
					<div>
						<h5>Output</h5>
						<div class="doc-example">{{{ example }}}</div>
					</div>
					<div>
						<h5>Code</h5>
						<pre class="doc-code"><code>{{ example }}</code></pre>
					</div>
				</section>
				</div>
			</section>
		{{/elements}}
	</main>

	<footer class="l-contain">
		<h2>Sources</h2>

		<ul>
			<li><a href="https://developer.mozilla.org/">MDN web docs</a></li>
			<li><a href="https://htmlreference.io/">htmlreference.io</a></li>
		</ul>

		<a class="doc-to-top" href="#table-of-contents" title="Go back to the table of contents" aria-label="Go back to the table of contents">&#x1F51D;</a>
	</footer>

</body>

</html>
